twitter/SharedResources/Schemas/Twitter_Iot.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="root" type="Data_L"/>
	<xs:complexType name="Data_L">
		<xs:sequence>
			<xs:element name="Data" type="Data_T" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Data_T">
		<xs:sequence>
			<xs:element name="id" type="xs:string"/>
			<xs:element name="text" type="xs:string"/>
			<xs:element name="tag" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>